h1 {
  background-color: rgb(27, 83, 156);
  font-size: 325%;
  text-align: center;
  color: whitesmoke;
}

.reasons {
  text-align: center;
  margin-left: 11%;
  max-width: 50%;
  float: left;
}

.sidebar {
  float: right;
  max-width: 35%;
}

h2 {
  font-size: 160%;
}

h3 {
  font-size: 130%;
}